.light-theme {
  --bodyColor: #fff;
  --btnColor: #0079c9;
  --btnHoverColor: #004f83;
  --shadowColor1: #e1e1e1;
  --shadowColor2: #e1e1e1;
  --priceColor:#df0088;
  --textColor:#000;
}

.dark-theme {
  --bodyColor: #000;
  --btnColor: #c1be00;
  --btnHoverColor: #939100;
  --shadowColor1: #0079c9;
  --shadowColor2: transparent;
  --priceColor:#c90000;
  --textColor:#FFF;
}

$variables: (
  --bodyColor: var(--bodyColor),
  --btnColor: var(--btnColor),
  --shadowColor1: var(--shadowColor1),
  --shadowColor2: var(--shadowColor2),
  --btnHoverColor: var(--btnHoverColor),
  --priceColor: var(--priceColor),
  --textColor: var(--textColor),
);
