// Responsive breakpoints
$small-screen: 1023px;
$tablet-screen: 1024px;
$desktop-screen: 1440px;


//containerSize
$container-width-lg:1140px;
$container-width-md:1000px;
$container-width-xs:100%;

//Font Sizes
$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg:16px;

//Line light
$line-height-sm: 1em;
$line-height-md: 1.2em;
$line-height-lg: 1.5em;
