<div class="main-content">
  <div class="container">
    <div class="filter-content">
      <div class="select-box">
        <select [(ngModel)]="selectedCategory" (change)="applyFilter()">
          <option value="0">All Categories</option>
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}
          </option>
        </select>
      </div>

      <div class="search-box">
        <app-search [resetSearch]="resetFlag" (searchEvent)="performSearch($event)"></app-search>
      </div>
    </div>

    <div class="product-list">
      <div
        class="product"
        *ngFor="let item of searchResults"
        [@productAnimation]
      >
        <figure>
          <img [src]="item.imgUrl" [alt]="item.name" />
          <figcaption>Offer Price : $ {{ item.price }}</figcaption>
        </figure>
        <div class="info-box">
          <h3>{{ item.name }}</h3>
          <p>{{ item.description }}</p>
          <button class="btn-primary">Add to Cart</button>
        </div>
      </div>

      <div class="no-result" *ngIf="searchResults.length == 0">
        <h3>No Results Found...</h3>
      </div>
    </div>
  </div>
</div>
