@import "../../../../assets/theme/variables";

.filter-content {
  width: 100%;
  float: left;
  padding: 90px 0 0 0;

  .select-box {
    width: 200px;
    float: left;
  }
  .search-box {
    width: 500px;
    float: right;
  }
}

.product-list {
  width: 103%;
  float: left;
  padding: 10px 0 30px 0;
  margin: 0 -1.5%;
  min-height: 750px;

  .product {
    width: 30.33%;
    float: left;
    margin: 1.5%;
    background: #fff;
    box-shadow: var(--shadowColor2) 1px 3px 4px 1px;

    figure {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
        transition: transform 0.3s;
      }
      figcaption {
        position: absolute;
        top: 0;
        left: 0;
        display: inline-block;
        background-color: var(--priceColor);
        color: #fff;
        padding: 5px 10px;
        border-radius: 0 5px 5px 0;
        font-weight: bold;
      }
    }

    .info-box {
      padding: 4% 6% 5% 6%;
      h3 {
        padding: 0 0 4px 0;
        color: #000;
      }
      p {
        color: #666;
        padding-bottom: 10px;
      }
    }

    &:hover {
      figure {
        img {
          transform: scale(1.1);
        }
      }
      .btn-primary {
        background-color: var(--btnHoverColor);
      }
    }
  }
}

.no-result {
  text-align: center;
  padding: 30%;
}

// Styles for smartphones (up to 1023px)
@media screen and (max-width: $small-screen) {
  .filter-content {
    padding: 70px 5% 0 5%;

    .select-box {
      width: 30%;
      min-width: 140px;
      padding-bottom: 0;
      margin-bottom: -1px;
    }
    .search-box {
      width: 100%;
      float: right;
    }
  }
  .product-list {
    width: 100%;
    padding: 10px 0 30px 0;
    margin: 0;
    padding: 0;
    min-height: 500px;

    .product {
      width: 90%;
      float: left;
      margin: 5%;

      figure {
        figcaption {
          font-size: $font-size-sm;
        }
      }
      .info-box {
        h3 {
          font-size: $font-size-md;
        }
      }
      &:last-child {
        margin-bottom: 6%;
      }
    }
  }
}

@media screen and (min-width: $tablet-screen) and (max-width: $desktop-screen) {

  .product-list {
    width: 104%;
    padding: 10px 0 30px 0;
    margin: 0 -2%;
    padding: 0;
    min-height: 500px;

    .product {
      width: 46%;
      float: left;
      margin: 2%;
    }
  }
}